@model IEnumerable<DataLayer.News>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.newsGroups.GroupTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescribtion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoWInslider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.newsGroups.GroupTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescribtion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.visited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoWInslider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NewsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewsId })
        </td>
    </tr>
}

</table>
